@use "../utils/variables";

/* Scroll */
::-webkit-scrollbar {
   height: 12px;
   width: 12px;

   main & {
      height: 8px;
      width: 8px;
   }
}
::-webkit-scrollbar-thumb {
   background: #393939;
   border-radius: 0;

   &:active,
   &:hover {
      background-color: #000;
   }
}
::-webkit-scrollbar-track {
   background: #D9D9D9;

   // main & {
   //    border: 2px solid transparent;
   //    background-clip: content-box;
   // }

   &:hover,
   &:active {
      background: #D9D9D9;
   }
}
 
