@use "../utils/variables";

ul.dd-list {
   padding-left: 1.25rem;
   width: fit-content;
   margin-bottom: 0;

    li {
      border-bottom: 0.5px solid;
      border-color: inherit;
      padding: .75rem 0;
    }
    a {
      color: inherit;
    }
}

.t-fecus {
  .col-img {
     &::before {
        background-image: url(img/vectors/vector-t-fecus.svg);
        left: 18%;
        height: 120%;
     }
  }
}

.balances-tributarios-results {
  display: flex;
  gap: 1rem;
  overflow-x: scroll;
  padding: 3rem 0;
  white-space: nowrap;

  .balance {
    background-color: variables.$white;
    border-radius: 10px;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.10);
    display: inline-block;
    padding: 1.25rem 1rem;
    text-align: center;
    width: 216px;
    height: 216px;
    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
}

