@use "../../utils/variables";


.col-img {
   &::before {
      .ce-desc & {
         background-image: url(img/vectors/vector-yellow-2.svg);
         left: 5%;
         height: 120%;
      }

      .ce-equipo & {
         background-image: url(img/vectors/vector-yellow-2.svg);
         height: 120%;
         transform: rotateY(180deg);
      }
   }
}