// Paleta de colores Coanil:
$blue: #0655CD;
$light-blue: #009EE3;
$green: #386539;
$light-green: #A2C037;
$yellow: #E4A71A;
$dark-yellow: #936D15;
$red: #C20E1A;
$light-red: #E4666E;
$fuchsia: #CC0F64;
$dark-fuchsia: #A9004C;
$purple: #65477C;
$light-purple: #AA81CB;
$link: #009DE0;
$text: #393939;

$gradient: linear-gradient(90.9deg, $blue 28.35%, #0377D6 53.88%, $link 70.62%);
$gradient-banner: linear-gradient(89.62deg, $blue 24.27%, rgba($blue, 0.6) 43.58%, rgba(6, 85, 205, 0.0208333) 60.5%, rgba(6, 85, 205, 0) 81.29%);

$white: #fff;
$black: #000;
$body-text: $text;
$body-bg: #fff;

$primary: $blue;
$secondary: $dark-fuchsia;

// breakpoints
$sm: #{'min-width: 576px'};
$md: #{'min-width: 768px'};
$lg: #{'min-width: 992px'};
$xl: #{'min-width: 1200px'};
$xxl: #{'min-width: 1400px'};
$xxxl: #{'min-width: 1920px'};

$breakpoints: (
  'sm': screen and ($sm),
  'md': screen and ($md),
  'lg': screen and ($lg),
  'xl': screen and ($xl),
  'xxl': screen and ($xxl),
  'xxxl': screen and ($xxxl),
);





