@use "../utils/variables";

.diagonal-bottom {
    position: relative;
    // color: variables.$white;
    padding-bottom: 0rem!important;
    margin-bottom: 10rem;

    &::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        background-color: inherit;
        background-image: inherit;
        background-attachment: fixed;
        background-repeat: repeat;
        background-position: center;
        width: 100%;
        height: 20%;
        max-height: 10rem;
        clip-path: polygon(0 0, 0 100%, 100% 0);
        z-index: 1;
    }

    @media screen and (variables.$xxl) {
        margin-bottom: 15rem;
        
        &::after {
            height: 35%;
            max-height: 15rem;
        }
    }
}

.bg-waves-light {
    background-image: url(./img/waves-light-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: top;
    background-position-x: 25%;
    @media screen and (variables.$xl) {
        background-position-x: 0;
        background-size: 100%;
    }
}

.row-img-txt {
    .col-img {
      position: relative;
      z-index: 0;

        &::before {
            content: '';
            position: absolute;
            top: -10%;
            left: -5%;
            width: 100%;
            height: 100%;
            background-image: unset;
            background-repeat: no-repeat;
            background-size: contain;
            z-index: -1;
        }
    }
}

.col-img {
    img {
        border-radius: 50px 0;
        width: 100%;
    }
}

.img-deco {
    position: relative;
    pointer-events: none;
    
    img {
        position: relative;
        left: 0;
    }
}
