@use "../utils/variables";

// circulo íconos
.border-circle-clip {
    position: relative;
    border-radius: 50%;
    // background: linear-gradient(108.18% 1145% at 0% 0%, #0655CD 30%, #009EE3 70%) border-box;
    background: linear-gradient(white, white) padding-box, linear-gradient(to right, #0655CD 30%, #009EE3 70%) border-box;
    border: 8px solid transparent;
    margin: .5rem auto;
    padding: 0;
    height: 128px;
    width: 128px;
    // &:before {
    //    content: '';
    //    position: absolute;
    //    top: 0; right: 0; bottom: 0; left: 0;
    //    border-radius: inherit;
    //    background: radial-gradient(108.18% 1145% at 0% 0%, #0655CD 30%, #009EE3 70%);
    //    margin: -.5rem; 
    //    z-index: -1;
    // }

    &.yellow {
        background: linear-gradient(white, white) padding-box, linear-gradient(to right, variables.$dark-yellow 30%, variables.$yellow 70%) border-box;
        
        // &:before {
        //     background: radial-gradient(108.18% 1145% at 0% 0%, variables.$dark-yellow 30%, variables.$yellow 70%);

        // }
    }

    & > span {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
    }

    img {
        height: 56%;
        width: 56%;
    }
}

// fila con texto e imagen
.row-img-txt {
    .col-img {
      position: relative;
      z-index: 0;

        &::before {
            content: '';
            position: absolute;
            top: -10%;
            left: -5%;
            width: 100%;
            height: 100%;
            background-image: unset;
            background-repeat: no-repeat;
            background-size: contain;
            z-index: -1;
        }
    }
}

.col-img {
    img {
        border-radius: 50px 0;
        width: 100%;
    }
}

// decoraciones de página
.img-deco {
    position: relative;
    pointer-events: none;
    
    img {
        position: relative;
        left: 0;
    }
}
